#s1{
background-color: SkyBlue;
font-size: 25px;
}
.but_css{
        font-size:20px;
	background-color: sea blue;
	color:DarkBlue;
        position : relative;
        left: 140px;
	width: 110px;
	height: 35px;
}
.but_css2{
        font-size:20px;
	background-color: sea blue;
	color:DarkBlue;
        position : relative;
        left:1000px;
	width: 110px;
	height: 35px;
}
#s2{
font-size:40px;
text-align: center;
}